<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.description}">Title</title>
</head>
<body>
<h3>Description</h3>
<p th:text="${recipe.description}" > </p>
<h3>Difficulty</h3>
<p th:text="${recipe.difficulty}"></p>
<h3>Preparation Time in minutes</h3>
<p th:text="${recipe.prepTime}"></p>
<h3>Cook Time in minutes</h3>
<p th:text="${recipe.cookTime}"></p>
<h3>Categories</h3>
<div th:each="category : ${recipe.categories}">
    <a th:href="@{/category/} + ${category.id}" th:text="${category.description}"></a>
</div>
<h3>Ingredients</h3>
<div th:each="ingredient : ${recipe.ingredients}">
    <table>
        <tbody>
        <tr>
            <td th:text="${ingredient.amount}"> </td>
            <td th:text="${ingredient.unityOfMeasure.description}"> </td>
            <td th:text="${ingredient.description}"> </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>